header
  div#files
  //form(method="post", enctype="multipart/form-data", action="/newGraph")
    fieldset
      legend General 
      p JTL File: 
        input#file(type="file", name="image", onchange="handleFiles(this.files);")
      p
        input#upload(type="submit", value="Upload", onclick="fileUpload(window.files[0]);")