!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/yui-reset-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
  body
    include includes/header
    div#content!= body