!!!
html
  head
    title= title
    link(rel='stylesheet', media="screen, projection", href="/stylesheets/screen.css")
    link(rel='stylesheet', media="print", href="/stylesheets/print.css")
    //if IE
      link(rel='stylesheet', media="screen, projection", href="/stylesheets/ie.css")
      
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/highcharts.js')
    script(src='/javascripts/themes/dark-blue.js')
    script(src='/javascripts/core.js')
  body
    include includes/header
    div#content!= body