/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass/reset";
@import "compass/css3/box-shadow";

// scheme is http://colorschemedesigner.com/#3K12B9FgMFZwV

body {
  background: #414959;
  color: #eee;

  header {
    #files {
      width: 100%;
      height: 80px;
    }
    background: #31343b;
    @include single-box-shadow(#222, 0, 5px, 5px, 2px);
  }
  
  
  
  #content {
    margin: 20px;
  }
}